
.post-image {
    width: 100%;
    height: 300px; /* Adjust as needed */
    background-color: #f0f0f0; /* Placeholder for image */
}

.post-buttons {
    display: flex;
    justify-content: space-around;
    padding: 10px 0;
}



.btn:hover {
    background-color: #e0e0e0;
}